  <header itemtype="http://schema.org/WPHeader" itemscope="itemscope" id="masthead" class="site-header grid-container grid-parent">
    <div class="inside-header">
      <div class="header-widget">
        <aside id="text-2" class="widget inner-padding widget_text">
          <div class="textwidget">
            <div class="top-phone">
              <span style="padding-right:35px;">+7(926)375-20-03</span>
              <span>+7(926)608-17-03</span>
              <span style="padding-left:35px;">vipshowmsk@gmail.com</span>

              <div class="ico-net">
                <a class="a-ico-net vk" href="//vk.com/pandorashowru.html" title="vkontakte"></a>
                <a class="a-ico-net instagram" href="//instagram.com/artpandora/index.html" title="instagram"></a>
                <a class="a-ico-net twitter" href="//twitter.com/pandora_show.html" title="twitter"></a>
                <a class="a-ico-net facebook" href="//www.facebook.com/pandorashowru.html" title="facebook"></a>
                <a class="a-ico-net youtube" href="//www.youtube.com/channel/UCE7Jg8jwzglu849vyZofzeA.html" title="youtube"></a>
              </div>
            </div>
          </div>
        </aside>
      </div>
      <div class="site-logo">
        <a href="index.html" title="Pandora Show" rel="home"><img class="header-image" src="images/logo.png" alt="Pandora Show" title="Pandora Show" /></a>
      </div>
    </div>
  </header>

